streamlit==1.45.1
tensorflow==2.18.0  # O usa tensorflow_intel si prefieres
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
matplotlib==3.7.2
seaborn==0.13.2
plotly==5.22.0
xgboost==2.1.2
openpyxl==3.1.5
pyarrow==20.0.0
opencv-python==4.10.0.84
joblib==1.4.2
tqdm==4.67.0
requests==2.31.0
Flask==2.2.2
deap==1.4.1
TPOT==0.12.2

